/* Resets and base styles from HTML5 Boilerplate */
/* line 10, _reset.scss */
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, _reset.scss */
blockquote, q {
  quotes: none;
}
/* line 27, _reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 33, _reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 39, _reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 46, _reset.scss */
del {
  text-decoration: line-through;
}

/* line 50, _reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 55, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, _reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 69, _reset.scss */
input, select {
  vertical-align: middle;
}

/* line 73, _reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 77, _reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 81, _reset.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 84, _reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 89, _reset.scss */
ul, ol {
  margin-left: 2em;
  vertical-align: top;
}

/* line 94, _reset.scss */
ol {
  list-style-type: decimal;
}

/* line 99, _reset.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 106, _reset.scss */
small {
  font-size: 85%;
}

/* line 110, _reset.scss */
strong, th {
  font-weight: bold;
}

/* line 114, _reset.scss */
td {
  vertical-align: top;
}

/* line 118, _reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 124, _reset.scss */
sup {
  top: -0.5em;
}

/* line 128, _reset.scss */
sub {
  bottom: -0.25em;
}

/* line 130, _reset.scss */
textarea {
  overflow: auto;
}

/* line 134, _reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 138, _reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 146, _reset.scss */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

/* line 150, _reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 155, _reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
/* line 161, _reset.scss */
input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
  background-color: #f0dddd;
}

/* line 167, _reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 172, _reset.scss */
select, input, textarea {
  color: #444444;
}

/* line 176, _reset.scss */
a {
  color: #607890;
}
/* line 179, _reset.scss */
a:hover, a:focus {
  color: #036;
}
/* line 183, _reset.scss */
a:link {
  -webkit-tap-highlight-color: #fff;
}

/* End HTML5 Boilerplate adaptations */
/* line 189, _reset.scss */
h1 {
  font-size: 4.5em;
}

/* line 193, _reset.scss */
h1, .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%;
}
/* line 199, _reset.scss */
.csstransforms h1, .csstransforms .vcenter {
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 213, _reset.scss */
.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 224, _reset.scss */
h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
}

/* line 232, _reset.scss */
h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em;
}

/* line 238, _reset.scss */
h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em;
}

/* line 244, _reset.scss */
h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em;
}

/* line 250, _reset.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 255, _reset.scss */
img, iframe, video {
  display: block;
  max-width: 100%;
}

/* line 260, _reset.scss */
video, iframe, img {
  display: block;
  margin: 0 auto;
}

/* line 265, _reset.scss */
p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em;
}

/* line 269, _reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888;
}

/* line 277, _reset.scss */
em {
  font-style: italic;
}

/* line 281, _reset.scss */
li {
  padding: .25em 0;
  vertical-align: middle;
}
/* line 285, _reset.scss */
li > ol, li > ul {
  margin-bottom: inherit;
}

/* line 290, _reset.scss */
.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444;
}

/* line 296, _reset.scss */
.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* line 3, neon.scss */
h1 {
  color: #ffd300;
  font-weight: bold;
  font-size: 150px;
  text-shadow: 0 0 5px #ffd300, 0 0 3px #fff;
}

/* line 10, neon.scss */
h2 {
  color: #af0;
  border-bottom-color: #ccc;
  font-weight: normal;
  text-shadow: 0 0 15px #af0, 0 0 2px #fff;
  border-bottom: 1px solid #333;
}

/* line 18, neon.scss */
h3 {
  color: #fff;
  font-weight: normal;
  text-shadow: 0 0 10px #fff, 0 0 2px #fff;
}

/* line 24, neon.scss */
pre {
  border-color: #333;
}
/* line 27, neon.scss */
pre code {
  color: #fff;
}

/* line 32, neon.scss */
code {
  color: #f0a;
}

/* line 36, neon.scss */
blockquote {
  font-size: 2em;
  padding: 1em 2em;
  color: #fff;
  border-left: 5px solid #fff;
}
/* line 42, neon.scss */
blockquote p {
  margin: 0;
}
/* line 46, neon.scss */
blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: normal;
  color: #aaa;
  text-shadow: 0 0 15px #fff, 0 0 2px #fff;
}

/* line 55, neon.scss */
::-moz-selection {
  background: #a0f;
}

/* line 59, neon.scss */
::selection {
  background: #a0f;
}

/* line 64, neon.scss */
a, a:hover, a:focus, a:active, a:visited {
  color: #f0a;
  text-decoration: none;
}
/* line 69, neon.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 74, neon.scss */
.deck-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 1.75em;
  color: #aaa;
  background: #000;
}
/* line 80, neon.scss */
.deck-container > .slide {
  padding: 0 48px;
}

/* line 86, neon.scss */
.slide .deck-before, .slide .deck-previous {
  opacity: 0.4;
}
/* line 90, neon.scss */
.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
/* line 96, neon.scss */
.slide .deck-child-current {
  opacity: 1;
}

/* line 101, neon.scss */
.deck-prev-link, .deck-next-link {
  background: #f0a;
  text-shadow: 0 0 3px #fff;
}
/* line 105, neon.scss */
.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
  color: #fff;
}
/* line 109, neon.scss */
.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
  text-decoration: none;
  box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
}

/* line 115, neon.scss */
.deck-status {
  font-size: 0.6666em;
}

/* line 119, neon.scss */
.goto-form {
  background: #000;
  border: 1px solid #f0a;
}
/* line 123, neon.scss */
.goto-form label {
  color: #fff;
}

/* line 129, neon.scss */
.deck-menu .slide {
  background: #333;
}
/* line 133, neon.scss */
.deck-menu .deck-current {
  background: #444;
}
/* line 136, neon.scss */
.boxshadow .deck-menu .deck-current {
  background: #000;
  box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
}
/* line 142, neon.scss */
.no-touch .deck-menu .slide:hover {
  background: #444;
}
/* line 146, neon.scss */
.no-touch.boxshadow .deck-menu .slide:hover {
  background: #000;
  box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
}
