@import "reset";

h1 {
    color: #ffd300;
    font-weight: bold;
    font-size: 150px;
    text-shadow: 0 0 5px #ffd300, 0 0 3px #fff;
}

h2 {
    color: #af0;
    border-bottom-color: #ccc;
    font-weight: normal;
    text-shadow: 0 0 15px #af0, 0 0 2px #fff;
    border-bottom: 1px solid #333;
}

h3 {
    color: #fff;
    font-weight: normal;
    text-shadow: 0 0 10px #fff, 0 0 2px #fff;
}

pre {
    border-color: #333;

    code {
        color: #fff;
    }
}

code {
    color: #f0a;
}

blockquote {
    font-size: 2em;
    padding: 1em 2em;
    color: #fff;
    border-left: 5px solid #fff;

    p {
        margin: 0;
    }

    cite {
        font-size: .5em;
        font-style: normal;
        font-weight: normal;
        color: #aaa;
        text-shadow: 0 0 15px #fff, 0 0 2px #fff;
    }
}

::-moz-selection {
    background: #a0f;
}

::selection {
    background: #a0f;
}

a {
    &, &:hover, &:focus, &:active, &:visited {
        color: #f0a;
        text-decoration: none;
    }

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.deck-container {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.75em;
    color: #aaa;
    background: #000;

    > .slide {
        padding: 0 48px;
    }
}

.slide {
    .deck-before, .deck-previous {
        opacity: 0.4;

        &:not(.deck-child-current) {
            .deck-before, .deck-previous {
                opacity: 1;
            }
        }
    }

    .deck-child-current {
        opacity: 1;
    }
}

.deck-prev-link, .deck-next-link {
    background: #f0a;
    text-shadow: 0 0 3px #fff;

    &, &:hover, &:focus, &:active, &:visited {
        color: #fff;
    }

    &:hover, &:focus {
        text-decoration: none;
        box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
    }
}

.deck-status {
    font-size: 0.6666em;
}

.goto-form {
    background: #000;
    border: 1px solid #f0a;

    label {
        color: #fff;
    }
}

.deck-menu {
    .slide {
        background: #333;
    }

    .deck-current {
        background: #444;

        .boxshadow & {
            background: #000;
            box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
        }
    }

    .no-touch & .slide:hover {
        background: #444;
    }

    .no-touch.boxshadow & .slide:hover {
        background: #000;
        box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
    }
}