@font-face {
  font-family: 'HPSimplified';
  src: url(../fonts/hps-euro-w01-regular-eot.eot);
  src: url(../fonts/hps-euro-w01-regular-eot.eot?#iefix) format("embedded-opentype"), url("../fonts/hps-euro-w01-regular-woff.woff") format("woff"), url("../fonts/hps-euro-w01-regular-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HPSimplified';
  src: url(../fonts/hps-euro-w01-bold-eot.eot);
  src: url(../fonts/hps-euro-w01-bold-eot.eot?#iefix) format("embedded-opentype"), url("../fonts/hps-euro-w01-bold-woff.woff") format("woff"), url("../fonts/hps-euro-w01-bold-ttf.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HPSimplifiedLight';
  src: url(../fonts/hps-euro-w01-light-eot.eot);
  src: url(../fonts/hps-euro-w01-light-eot.eot?#iefix) format("embedded-opentype"), url("../fonts/hps-euro-w01-light-woff.woff") format("woff"), url("../fonts/hps-euro-w01-light-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HPSimplifiedLightIt';
  src: url(../fonts/hps-euro-w01-light-italic-eot.eot);
  src: url(../fonts/hps-euro-w01-light-italic-eot.eot?#iefix) format("embedded-opentype"), url("../fonts/hps-euro-w01-light-italic-woff.woff") format("woff"), url("../fonts/hps-euro-w01-light-italic-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* line 33, style.scss */
body {
  background: #141414;
  width: 100%;
  height: 100%;
  font-family: HPSimplified, Arial;
}

/* line 40, style.scss */
.hp {
  background: #0096D6;
  position: absolute;
}
/* line 43, style.scss */
.hp h1 {
  color: white !important;
  text-align: left;
  top: 30%;
  text-shadow: none !important;
  font-size: 4em;
}
/* line 50, style.scss */
.hp .logo {
  position: fixed;
  bottom: 50px;
  right: 75px;
}
/* line 55, style.scss */
.hp .contact {
  position: fixed;
  font-size: 1.5em;
  color: white !important;
  padding: 0 0 0 75px;
  left: 150px;
}
/* line 63, style.scss */
.hp .facebook {
  background: url("../../images/facebook.png") left center no-repeat;
  bottom: 175px;
}
/* line 69, style.scss */
.hp .email {
  background: url("../../images/email.png") left center no-repeat;
  bottom: 250px;
}

/* line 77, style.scss */
.git h1 {
  text-shadow: none !important;
  font-size: 10em;
}
/* line 83, style.scss */
.git img {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -190px 0 0 -405px;
}

/* line 91, style.scss */
.gitLogo {
  top: 50%;
  left: 50%;
  position: fixed;
  margin: -190px 0 0 -405px;
  zoom: 1.5;
}
